[Unit]
Description=Jellyfin tailscale container
After=network-online.target

[Container]
Image=docker.io/tailscale/tailscale:latest
ContainerName=jellyfin-tailscale
Pod=jellyfin.pod
AddDevice=/dev/net/tun
AddCapability=net_admin
AddCapability=net_raw
Environment=TS_HOSTNAME=jellyfin.stalk-python.ts.net
#Environment=TS_STATE_DIR=/var/lib/tailscale
EnvironmentFile=/mnt/orico_a/containers/ts-auth.env
Secret=ts_authkey,type=env,target=TS_AUTHKEY
Volume=jellyfin-tailscale:/var/lib/tailscale:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
