[Container]
ContainerName=audiobookshelf
Image=ghcr.io/advplyr/audiobookshelf:latest
AutoUpdate=registry
NoNewPrivileges=true
PublishPort=13378:80
Volume=/var/home/pc/abs-media/audiobooks:/audiobooks
#Volume=</path/to/books>:/books
Volume=/var/home/pc/abs-media/podcasts:/podcasts
Volume=audiobookshelf_config:/config
Volume=audiobookshelf_metadata:/metadata

[Service]
Restart=always

[Install]
WantedBy=default.target
