#[Container]
#Image=docker.io/library/caddy:latest
#ContainerName=caddy
#AutoUpdate=registry
#Volume=caddy-data:/data
#Volume=caddy-config:/config
#Volume=/etc/caddy/Caddyfile:/etc/caddy/Caddyfile:Z
#PublishPort=80:80
#PublishPort=443:443

#[Service]
#Restart=always
#TimeoutStartSec=900

#[Install]
#WantedBy= default.target


#WantedBy=multi-user.target default.target


[Container]
ContainerName=caddy
Image=docker.io/library/caddy:latest
AutoUpdate=registry
#Network=host
Volume=/etc/caddy:/etc/caddy:Z
Volume=/mnt/das/containers/caddy/data:/data:Z
#ExecStartPre=/bin/sh -c 'mkdir -p /etc/caddy /var/lib/caddy'

[Service]
Restart=always

[Install]
WantedBy=default.target
