[Unit]
Description=Unprivileged HTTPD container
[Container]
ContainerName=httpd
Image=docker.io/httpd
AutoUpdate=registry
PublishPort=80:80
[Service]
Restart=always
[Install]
WantedBy=multi-user.target
