[Container]
ContainerName=jellyfin
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
PublishPort=8096:8096/tcp
UserNS=keep-id

# Internal volumes (managed by Podman)
#Volume=jellyfin-config:/config:Z
#Volume=jellyfin-cache:/cache:Z
Volume=/mnt/das/containers/jellyfin/config:/config:Z
Volume=/mnt/das/containers/jellyfin/cache:/cache:Z

# External bind mount for media
Volume=/var/home/pc/jellyfin-media:/media:ro,Z

[Service]
# Make systemd treat exit code 143 (SIGTERM) as normal
SuccessExitStatus=0 143

[Install]
#WantedBy=multi-user.target
WantedBy=default.target
