[Unit]
Description=Jellyfin container
[Container]
ContainerName=jellyfin
Image=ghcr.io/jellyfin/jellyfin:latest
AutoUpdate=registry
PublishPort=8096:8096/tcp
UserNS=keep-id:uid=1000,gid=1000
Bind=/var/lib/jellyfin/config:/config:Z
Bind=/var/cache/jellyfin:/cache:Z
Bind=/mnt/media:/media:Z
[Service]
ExecStartPre=/bin/mkdir -p ~/.jellyfin/{config,cache}
SuccessExitStatus=0 143
[Install]
WantedBy=multi-user.target
