[Unit]
Description=Unprivileged NGINX container
[Container]
ContainerName=nginx
Image=docker.io/nginxinc/nginx-unprivileged
AutoUpdate=registry
PublishPort=8080:8080
[Service]
Restart=always
[Install]
WantedBy=multi-user.target
