#[Unit]
#Description=qbittorrent container (LinuxServer.io)
#After=network-online.target
#Wants=network-online.target
#
[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
ContainerName=qbittorrent
AutoUpdate=registry

# Environment variables
#Environment=PUID=1000
#Environment=PGID=1000
#Environment=TZ=Etc/UTC
#Environment=WEBUI_PORT=8080
#Environment=TORRENTING_PORT=6881
# Ports
PublishPort=8080:8080
PublishPort=6881:6881
PublishPort=6881:6881/udp

# Volume mounts
Volume=/mnt/orico_a/containers/qbittorrent/config:/config:Z
Volume=/mnt/orico_a/data/downloads/qbittorent:/downloads:Z


# Restart policy
Restart=unless-stopped

[Service]
SuccessExitStatus=0 143

[Install]
WantedBy=default.target
