[Unit]
Description=Service container
After=network-online.target

[Container]
Image=docker.io/deluan/navidrome:latest
ContainerName=service
Pod=navidrome.pod
User=1000
Group=1000
Volume=servicenavidrome:/data:Z
Volume=/path/to/music:/music:z

[Service]
Restart=always

[Install]
WantedBy=default.target
