[Unit]
Description=stash container
[Container]
ContainerName=stash
Image=docker.io/stashapp/stash:latest
AutoUpdate=registry
PublishPort=9999:9999/tcp
UserNS=keep-id:uid=1000,gid=1000
Volume=stash-config:/config:Z
Volume=stash-cache:/cache:Z
Volume=%h/stash-media:/media:ro,Z
[Service]
Restart=always
SuccessExitStatus=0 143
[Install]
WantedBy=multi-user.target
