[Container]
Image=docker.io/stirlingtools/stirling-pdf:latest
AutoUpdate=registry
PublishPort=8888:8080

# Volume mounts
Volume=StirlingPDF-trainingData:/usr/share/tessdata:Z
Volume=StirlingPDF-extraConfigs:/configs:Z
Volume=StirlingPDF-customFiles:/customFiles:Z
Volume=StirlingPDF-logs:/logs:Z
Volume=StirlingPDF-pipeline:/pipeline:Z

# Environment variables
Environment=DISABLE_ADDITIONAL_FEATURES=true
Environment=LANGS=en_GB

[Service]
Restart=always

[Install]
WantedBy=default.target
